.Heading{
    /* border: 1px solid red; */
    width: 38%;
    display: block;
    margin: auto;
    margin-top: 60px;
}
.Heading>h1{
    /* border: 1px solid tomato; */
    text-align: center;
    font-weight: 900;
    font-size: 45px;
}
.Tools{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 40px;
}
.Tools>div{
    /* border: 1px solid teal; */
    width: 15%;
}
.Tools img{
    display: block;
    margin: auto;
}
.Tools h3,p{
    text-align: center;
}
.btn{
    display: block;
    margin: auto;
    margin-top: 40px;
    padding: 15px;
    color: white;
    background-color: rgb(71, 71, 242);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(19, 19, 209);
}
/* carousel */
.Carousel{
    /* border: 1px solid teal; */
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    width: 60%;
    height: 500px;
    display: flex;
    margin: auto;
    margin-top: 40px;
}
.Carousel>img{
    height: 95%;
    width: 95%;
    margin: auto;
}
/* carousel */
.Recipes{
    display: flex;
    justify-content: center;
    gap: 20px;
    /* border: 1px solid red; */
}
.Recipes div{
    /* border: 1px solid green; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    width: 20%;
    height: 30%;
}
.Recipes>div>img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.Recipes p{
    color: blue;
    font-weight: bold;
    text-align: center;
}
.Recipes h3{
    text-align: center;
}
.Apps{
    /* border: 1px solid red; */
    width: 40%;
    margin: auto;
}
.Apps>img{
    width: 100%;
}
.AppsStore{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 40px;
}